/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
  background-color: #f5f6f8;
	font-family: 'Montserrat', sans-serif;
	
}

a{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: inherit;
}
/*BUTTONS*/
.button{
	background-color: #000;
	font-size: 0.7em;
	line-height: 3em;
	text-transform: uppercase;
	color: #fff;
	min-width: 8.5rem;
	text-align: center;
}

/*HEADER*/
#main_header{
	background: url("../img/bg/bg_header_1.png") no-repeat left bottom;
	background-size: cover;
	min-height: 100vh;
	height: 100vh;
	/*background-position: left bottom;
	background-repeat: no-repeat;*/

}
.logo_nav{
	position: fixed;
	left:0;
	top:0;
	width: 70%;
	padding: 2em 15%;
	background-color: rgba(0,0,0,0.5);
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: calc(10% - 4px);
}

nav {
	display: inline-block;
	vertical-align: top;
	width: calc(90% - 4px);
	text-align: right;
}

nav a{
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 3em;
	margin: 0 1em;
}

/*
header {
	width: 100vw;
  height: 667pt;
	background-image: url("../img/bg/bg_header_1.png");
	 background-repeat: no-repeat;

}

section>header {
	background-image: none;
	background-color: #fff;
	height: auto;
	/*padding: 113px 0;*/

	/*
}

h1 {
	font-family: 'Montserrat Hairline', arial;
  font-size: 4.5rem;
	line-height: 96px;
	letter-spacing: 0.23rem;
}

h3 {
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 22px;
}

h4 {
		font-size: 0.78rem;
		font-weight: 300;
		padding-left: 7px;
}

p {

	font-size: 0.8rem;
	line-height: 22px;
	color: rgba(35, 35, 35, 0.5);
}

.logo_nav{
	position: fixed;
	width: 100%;
	top: 45px;
	left: 20vw;
}

div.logo_nav a{
	font-size: 0.8rem;
	text-transform: uppercase;
}

div.logo {
	display: inline-block;
	/*width: calc(23% - 13%);*/
	/*
	width: 16vw;
}
nav {
	display: inline-block;
	/*width: calc(70% - 15%);*/
	/*
	width: 50vw;
}
.mount{
	width: 426px;
	padding-left: 20vw;
	padding-top: 270px;
}

.caps {
	text-transform: uppercase;
}

.center{
	text-align: center;
}

ul.block {
	margin: 0 26%;
}

ul.block li {
	display: inline-block;
	margin: 0pt 35px;
	width: calc(31% - 74px);
	vertical-align: top;
}

ul.block li *{
	margin-bottom: 20px;
}

.icon {
	width: 60.7px;
}

.build {
	background-color: #fff;
}
div.build * {
	color: #232323;
}

.slideshow {
	background-color: #26e6e6;
	height: 898.5px;
}

.list{
	width: 383.4pt;
	width: calc(24% - 62.4px);
	background-color: #ffffff;
	padding: 37.4px 31.2px;
}

ul.list * {
	margin: 0 0 30px 0;
}

footer{
	height: 857px;
	background-image: url("../img/bg/bg_footer.png");
	 background-repeat: no-repeat;
}

.footer {
	height: 278px;
	background-color: #000000;
}
